<!doctype html>
<html lang="en">
  <head>
    ...
  </head>
  <body>
    <header>
      <div class="wrap">
        <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <nav>
          <a href="{{ '/' | relative_url }}">Home</a>
          <a href="{{ '/workshops/' | relative_url }}">Workshops</a>
          <a href="{{ '/projects/' | relative_url }}">Projects</a>
          <a href="{{ '/contact/' | relative_url }}">Contact</a>
        </nav>
      </div>
    </header>

    <main>
      {{ content }}
    </main>
    ...
  </body>
</html>
